#painter {
    position: relative;
}

#painter .canvas {
    border: 1px solid #BBB;
    border-radius: 4px;
    clear: both;
    display: block;
}

#painter .toolbar {
    list-style: none;
    clear: both;
    display: block;
    padding: 0;
}

#painter .toolbar li {
    float: left;
    text-align: center;
    margin: 2px 2px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0);
}

#painter .toolbar img {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid transparent;
}

#painter .toolbar li:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

#painter .toolbar li.active {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.1);
}

#painter ul.menu {
    display: none;
    list-style: none;
    position: absolute;
    top: 0;
    left: 20px;
    background: #EEE;
    padding: 8px 0;
    margin: 0;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #888888;
}

#painter ul.menu li {
    padding: 5px 10px;
    cursor: default;
}

#painter ul.menu li:hover {
    background: #AAA;
}

#painter .toolbar, #painter .toolbar img {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
